.visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  // clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-family: "Oswald", sans-serif;
}

.button {
  border: none;
  background: none;

  &--list-next {
    box-sizing: border-box;
    position: relative;
    border: 2px solid #005bc1;
    width: 55px;
    height: 55px;

    span {
      display: block;
      position: absolute;
      top: 39%;
      left: 28%;
      transform: rotate(-45deg);
      margin: 0 auto;
      box-shadow: 2px 2px 1px blue;
      width: 13px;
      height: 13px;
      // transform: translate(-50%,-50%);
    }
  }

  &--list-prev {
    box-sizing: border-box;
    position: relative;
    border: 2px solid #005bc1;
    width: 55px;
    height: 55px;

    span {
      display: block;
      position: absolute;
      top: 39%;
      left: 47%;
      transform: rotate(135deg);
      box-shadow: 2px 2px 1px blue;
      width: 13px;
      height: 13px;
    }
  }
}

.header {
  background: #ffffff;
  background-image: url("/img/Rectangle 2.png");
  background-position: top/cover;
  background-repeat: no-repeat;
  min-width: 320px;
  height: 800px;

  &__content {
    width: 100%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 202px;
    width: 635px;

    b {
      text-align: left;
    }

    p {
      width: 445px;
      text-align: left;
      color: #ffffff;
    }
  }

  &__button {
    box-sizing: border-box;
    border: 2px solid #ffffff;
    background: none;
    width: 160px;
    height: 51px;
    text-align: center;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 40px;
  width: 100%;

  &--column {
    flex-direction: column;
    padding: 0;
  }
}

.main-nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: rgba(0, 91, 193, 0.6);
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translate(-50%, -50%);

  img {
    width: 140px;
    height: 58px;
  }
}

.page-navigation {
  &__list {
    display: flex;
  }

  &__item {
    padding: 0 13px;
    list-style: none;

    a {
      text-decoration: none;
      line-height: 19px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
    }
  }
}

.main-title {
  line-height: 71px;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
}

.section-title {
  margin: 0;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 0.05em;
  font-family: "Oswald";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  /* black */
  color: #343434;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding-top: 156px;
  padding-bottom: 120px;
}

.Projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1110px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
    width: 100%;
  }

  &__slider {
    width: 100%;
    // display: flex;
    // justify-content: space-between;
  }

  &__slider-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__slide {
    box-sizing: border-box;
    display: block;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(.jpg), #c4c4c4;
    width: 49%;
    height: 400px;
  }

  &__slide-info {
    box-sizing: border-box;
    display: block;
    position: absolute;
    right: 1.5%;
    bottom: 3%;
    background: #ffffff;
    padding: 20px;
    width: 250px;

    h4 {
      margin: 0;
    }

    p {
      margin: 0;
      width: 64%;
    }
  }
}

.Catalog-production {
  padding-top: 150px;
  width: 100%;
  max-width: 1110px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__select-producer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__producer-item {
    margin: 0 23px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 0.05em;
    color: #343434;
    font-family: "Oswald";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    box-sizing: border-box;
    display: block;
    position: relative;
    border: 3px solid #005bc1;
    background: url(1png);
    width: 350px;
    height: 300px;

    p {
      box-sizing: border-box;
      display: block;
      position: absolute;
      right: 0;
      bottom: 10px;
      margin: 0;
      background: #005bc1;
      padding: 21px 30px;
      width: 265px;
      color: #ffffff;
    }
  }
}

.Equipment-rent {
  padding-top: 150px;
  width: 100%;
  max-width: 1110px;

  &__container {
    display: flex;
  }

  &__info {
    width: 445px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    width: 100%;
  }

  &__Product {
    padding: 30px;
  }
}

.Card-Product {
  box-sizing: border-box;
  border: 3px solid #005bc1;
  width: 60%;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__content {
    display: flex;
  }
}

.block-title {
  display: flex;
  align-items: center;

  &__decoration {
    margin-right: 40px;
    box-shadow: inset 0 3px 0 #005bc1, 5px 8px 0 -5px #005bc1;
    width: 100px;
    height: 13px;
  }
}

.news-block {
  padding-top: 150px;
  width: 100%;
  max-width: 1110px;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    width: 100%;
  }
}

.news-list {
  display: flex;

  &__container {
    display: flex;
  }

  &__item {
    display: flex;

    img {
      background-color: rgb(151, 150, 150);
      width: 255px;
      height: 242px;
    }

    &--breaking {
      width: 50%;

      p {
        width: 255px;
      }
    }

    &--short {
      flex-direction: column;
      width: 25%;
      position: relative;
      padding: 10px 40px;

      img {
        order: 2;
        background-color: rgb(151, 150, 150);
        width: 128px;
        height: 115px;
      }

      p {
        // width: 225px;
      }

      & .news-list__block-info {
        order: 1;
        padding: 0;
        time {
          position: absolute;
          bottom: 0;
    right: 0;
        }
      }
    }
  }

  &__block-info {
    box-sizing: border-box;
    padding: 10px 40px;
    padding-right: 0;

    h5 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      line-height: 19px;
      color: #343434;
      font-family: Open Sans;
      font-size: 14px;
      font-weight: 300;
      font-style: normal;
    }
  }
}

.page-footer {
  width: 100%;
  height: 255px;
  background-color: #005bc1;
}
